*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.dropdownmenu ul, .dropdownmenu li{
    margin: 0;
    padding: 0;
}

.dropdownmenu ul {
    background-color: rgb(108, 159, 255);
    list-style: none;
}

.dropdownmenu li {
    float: none;
    position: relative;
    width: auto;
    display: inline-block;
}

.dropdownmenu a {
    background-color: rgb(127, 167, 255);
    color: white;
    display: block;
    font-weight: 500;
    font-size: 20px;
    font-family: 'calibri';
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
}

.dropdownmenu li:hover a {
    background-color: rgb(61, 93, 255);
}

#submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 60px;
    visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu {
    opacity: 1;
    top: 55px;
    visibility: visible;
}

#submenu li {
    float: left;
    width: 100%;
}

#submenu a:hover {
    background: rgb(81, 90, 255);
}

#submenu a {
    background-color:rgb(127, 167, 255);
}

h2 {
    text-align: center;
}

body {
    margin: 0;
}

.Why h1{
    text-align: center;
    margin-top: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
}

.container img{
    justify-content: space-between;
    height: 240px;
    width: 300px;
    float: left;
}

.container p {
    display: block;
    justify-content: space-between;
}

.image {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
}

.image img{
    justify-content: space-between;
    height: 240px;
    width: 300px;
    float: right;
}

.image p {
    display: block;
}

.box {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
}

.box img{
    justify-content: space-between;
    height: 240px;
    width: 300px;
    float: right;
}

.box p {
    display: block;
}

.aim {
    border: 5px solid rgb(108, 130, 255);
}

.aim h2 {
    font-family: Helvetica;
    text-align: center;
}

.aim p {
    font-family: Arial;
    font-size: 25px;
    text-align: center;
}




