*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0;
}

.dropdownmenu {
    margin-left: 10px;
}

.dropdownmenu ul, .dropdownmenu li{
    margin: 0;
    padding: 0;
}

.dropdownmenu ul {
    list-style: none;
    padding: 12px;
}

.dropdownmenu li {
    float: none;
    position: relative;
    width: auto;
    display: inline-block;
}

.dropdownmenu a {
    background-color: rgb(106, 151, 255);
    color: white;
    display: block;
    font-weight: 500;
    font-size: 16px;
    padding: 15px 48px;
    text-align: center;
    text-decoration: none;
}

.dropdownmenu li:hover a {
    background-color: rgb(61, 93, 255);
}

#submenu {
    right: 1px;
    position: absolute;
    top: 60px;
    visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu {
    opacity: 1;
    top: 40px;
    visibility: visible;
}

#submenu li {
    float: left;
    width: 100%;
    left: 50px;
}

#submenu a:hover {
    background: rgb(81, 90, 255);
}

#submenu a {
    background-color:rgb(127, 167, 255);
}

.background {
    background-image: url(Aboutus1.png);
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.Extreme {
    font-size: 30px;
    text-align: center;
    margin: 70px;
    background-color: rgb(224, 241, 250);
    overflow: hidden;
}

.Extreme p {
    margin: 70px;
    margin-left: 200px;
    margin-right: 200px;
    line-height: 1.8;
}

.offer img {
    margin-right: 50px;
    width: 380px;
    height: 220px;
    float: right;
    margin-top: 20px;
    margin-bottom: 17px;
    border-radius: 30px
}

.provide {
    margin-top: 30px;
    margin-right: 35px;
    float: right;
    line-height: 1.5;
    font-size: 18px;
}

.provide p {
    font-size: 17px;
}

.provide ul {
    font-size: 19px;
    margin-top: 17px;
    margin-left: 17px;
    margin-bottom: 17px;
}

.what {
    align-items: center;
    text-align: center;
    font-size: 30px;
    margin-top: 305px;
}

.group img {
    max-width: 320px;
    margin-left: 50px;
    float: left;
}

.group {
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    margin-left: 30px;
    display: flex;
}

.yay img {
    margin-left: 10px;
    float: left;
}

.yay1 {
    margin-left: 120px;
}

.yay1 img {
    width: 220px;
    margin-top: 25px;
}

.yay ul {
    padding: 90px 40px;
    justify-content: space-between;
    font-size: 18px;
    margin-left: 220px;
    line-height: 1.5;
}

.yay1 ul {
    padding: 65px;
    justify-content: space-between;
    font-size: 18px;
    line-height: 1.5;
}

.book {
    align-items: center;
    padding: 30px;
    margin-left: 30px;
    display: flex;
}

.book img {
    max-width: 320px;
    margin-left: 50px;
    float: left;
}

.nice img {
    margin-left: 35px;
    float: left;
    width: 160px;
}

.nice ul {
    padding: 50px 45px;
    font-size: 18px;
    margin-left: 200px;
    line-height: 1.5;
}

.nice1 {
    display: flex;
    float: right;
    margin-left: 120px;
}

.nice1 img {
    width: 170px;
    height: 178px;
    margin-left: 70px;
}

.nice1 ul {
    padding: 70px 20px;
    justify-content: space-between;
    font-size: 18px; 
    line-height: 1.5;
    margin-left: 15px;
}

.HSC li {
    float: right;
}

.homework {
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    margin-left: 30px;
    display: flex;
}

.homework img {
    max-width: 320px;
    margin-left: 35px;
    float: left;
}

.work img {
    margin-left: 40px;
    float: left;
    width: 180px;
}

.work ul {
    padding: 60px 35px;
    justify-content: space-between;
    font-size: 18px;
    margin-left: 100px;
    line-height: 1.5;
}

.calender {
    display: flex;
}

.calender img {
    width: 170px;
    height: 178px;
    margin-bottom: 20px;
}

.calender ul {
    padding: 60px 10px;
    justify-content: space-between;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 30px;
}

.home li {
    float: right;
}


.success {
    margin-left: 50px;
    width: 100%;
}

.map {
    display: flex;
    align-items: center;
}

.container {
    align-items: center;
}

.map h1 {
    text-align: center;
    font-size: 45px;
    margin-left: 15px;
}

.map ul {
    margin-left: 50px;
    line-height: 2.2;
    list-style-type: none;
}

iframe {
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px
}

.footer {
    width: 100%;
    background: #d1e7ff;
    color: black;
    display: flex;
}

.footer div {
    text-align: center;
}

.col-2 {
    margin-top: 10px;
    flex-grow: 1;
}

.col-1 img {
    width: 350px;
    align-items: center;
    margin-left: 70px;
    margin-top: 70px;
}

.col-1 {
    align-items: center;
    margin-top: 10px;
}

.footer div h3 {
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 1px;
    margin-top: 10px;
}

.col-2 a {
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

.col-2 ul {
    list-style-type: none;
    font-weight: 100;
}

.col-3 p {
    font-weight: 100;
}

.col-3 {
    margin-right: 50px;
    margin-top: 10px;
}

.footerbottom {
    text-align: center;
    font-weight: 300;
    padding: 30px;
    background-color: #d1e7ff;
    font-weight: bold;
    font-size: 13px;
}
