*{
    margin: 0;
    padding: 0;
}

head {
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0;
}

.logo {
    width: 80%;
}

.dropdownmenu {
    margin-left: 10px;
}

.dropdownmenu ul, .dropdownmenu li{
    margin: 0;
    padding: 0;
}

.dropdownmenu ul {
    list-style: none;
    padding: 12px;
}

.dropdownmenu li {
    float: none;
    position: relative;
    width: auto;
    display: inline-block;
}

.dropdownmenu a {
    background-color: rgb(106, 151, 255);
    color: white;
    display: block;
    font-weight: 500;
    font-size: 16px;
    padding: 15px 48px;
    text-align: center;
    text-decoration: none;
}

.dropdownmenu li:hover a {
    background-color: rgb(61, 93, 255);
}

#submenu {
    right: 1px;
    position: absolute;
    top: 60px;
    visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu {
    opacity: 1;
    top: 40px;
    visibility: visible;
}

#submenu li {
    float: left;
    width: 100%;
    left: 50px;
}

#submenu a:hover {
    background: rgb(81, 90, 255);
}

#submenu a {
    background-color:rgb(127, 167, 255);
}

h2 {
    text-align: center;
}

.background {
    margin-left: 50px;
    margin-right: auto;
    display: block;
}

.Why h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    column-gap: 30px;
    align-items: center;
}

.container img {
    justify-content: space-between;
    height: 300px;
    width: 500px;
    float: left;
    border-radius: 30px
}

.text p {
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
}

.image {
    display: flex;
    column-gap: 30px;
    padding: 30px 80px;
    align-items: center;
    float: right;
}

.image img {
    justify-content: space-between;
    height: 300px;
    width: 500px;
    border-radius: 30px
}

.yay {
    float: right;
}

.image p {
    align-items: center;
    display: flex;
    font-size: 19px;
    margin-left: 70px;
    float: right;
}

.box {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding: 20px 100px;
    align-items: center; 
}

.box img {
    justify-content: space-between;
    height: 290px;
    width: 450px;
    border-radius: 30px
}

.nice p {
    display: block;
    font-size: 19px;
    align-items: center;
}

.ouraim {
    display: flex;
    align-items: center;
    font-size: 50px;
    margin-top: 10px;
    margin-left: 200px;
}

.aimaim {
    background-image: url('ouraimbg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ouraim h2 {
    color: rgb(81, 197, 255);
}

.aim p {
    font-size: 30px;
    text-align: center;
    padding: 90px;
    font-style: italic;
    width: 50%;
    float: right;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 20px;
    font-weight: 500;
}

.Reviews {
    align-items: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slideshow-container {
    position: relative;
    background: #e2f5fff1;
    width: 70%;
    margin-left: 192px;
    border-radius: 30px
}

.mySlides {
    display: none;
    padding: 70px;
    text-align: center;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
  
.dot-container {
    text-align: center;
    padding: 20px;
    background: #b8ecff;
    width: 67%;
    margin-left: 192px;
    margin-bottom: 20px;
    border-radius: 30px
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #88d9ff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #78c2ff;
}
  
q {font-style: italic;}
  
.author {
    color: cornflowerblue;
    font-weight: bold;
}

.contact h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 50px;
}

.contact {
    align-items: center;
    background-image: url('homebg (1).png');
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    margin: auto;
    line-height: 1.5;
}

.contact textarea {
    width: 500px;
    height: 40px;
    margin-left: 380px;
}

.contact label {
    font-size: 20px;
    margin-top: 40px;
    margin-left: 380px;
    font-weight: 550;
}

.submit input {
    width: 90px;
    height: 30px;
    margin-left: 600px; 
    font-size: 20px;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    background: #d1e7ff;
    color: black;
    display: flex;
}

.footer div {
    text-align: center;
}

.col-2 {
    margin-top: 10px;
    flex-grow: 1;
}

.col-1 img {
    width: 350px;
    align-items: center;
    margin-left: 70px;
    margin-top: 70px;
}

.col-1 {
    align-items: center;
    margin-top: 10px;
}

.footer div h3 {
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 1px;
    margin-top: 10px;
}

.col-2 a {
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

.col-2 ul {
    list-style-type: none;
    font-weight: 100;
}

.col-3 p {
    font-weight: 100;
}

.col-3 {
    margin-right: 50px;
    margin-top: 10px;
}

.footerbottom {
    text-align: center;
    font-weight: 300;
    padding: 30px;
    background-color: #d1e7ff;
    font-weight: bold;
    font-size: 13px;
} 









@media (max-width: 430px) {
    .logo img {
        width: 1500px;
    }

    .dropdownmenu a {
        background-color: rgb(106, 151, 255);
        color: white;
        display: block;
        font-weight: 500;
        font-size: 20px;
        padding: 15px 48px;
        text-align: center;
        text-decoration: none;
    }

    li:hover ul#submenu {
        margin-right: -116px;
        margin-top: -53px;
    }

    #submenu {
        width: 100%;
    }

    .dropdownmenu ul {
        width: 50px;
        text-align: center;
    }

    .background img {
        width: 400%;
        align-items: center;
        margin-left: -50px;
    }

    .Why h1 {
        margin-right: -900px; 
        font-size: 50px;
        text-align: center;
    }

    .container img {
        align-items: center;
        margin-left: 90%;
    }

    .container {
        padding: 0;
        display: block;
    }

    .text p {
        margin-left: 400px;
        margin-right: -300px;
        width: 90%;
        font-size: 25px;
    }

    .image img {
        align-items: center;
        margin-left: 105%;
    }

    .image {
        display: inline-block;
        align-items: center;
        margin-top: 100px;
    }
    
    .yay p {
        margin-right: -490px;
        width: 90%;
        font-size: 25px;
    }
    
    .box img {
        align-items: center;
        margin-left: 89%;
        margin-top: 100px;
        width: 500px;
        height: 300px;
    }

    .box {
        padding: 0;
        display: block;
    }

    .nice p {
        margin-left: 400px;
        width: 90%;
        font-size: 25px;
    }

    .aimaim {
        background-image: url('ouraimbg.png');
        background-size: 300% 100%;
        background-repeat: no-repeat;
        padding: 0;
        margin-left: 20px;
        background-color: rgb(174, 218, 255)
    }

    .aim {
        background-image: url('ouraimbg.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-left: 60px;
    }

    .ouraim h2 {
        font-size: 60px;
        margin-left: 100px;
    }
    
    .aim p {
        font-size: 25px;
        text-align: center;
        padding: 90px;
        font-style: italic;
        width: 70%;
        float: right;
        margin-bottom: 30px;
        margin-top: 30px;
        margin-left: 650px;
        font-weight: 500;
    }

    .Reviews {
        align-items: center;
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 570px;
    }

    .slideshow-container {
        margin-left: 350px;
        width: 170%;
        height: 50%;
        font-size: 25px;
    }

    .dot-container {
        margin-left: 330px;
        width: 170%;
    }

    hr {
        display: none;
    }

    .contact h1 {
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 40px;
        align-items: center;
        margin-right: -450px;
    }

    .contact {
        background-image: url('homebg\ \(1\).png');
    }

    .contact textarea {
        width: 500px;
        height: 40px;
        margin-left: 190px;
    }
    
    .contact label {
        font-size: 19px;
        margin-top: 40px;
        margin-left: 150px;
        font-weight: 550;
    }
    
    .submit input {
        width: 90px;
        height: 30px;
        margin-left: 400px; 
        font-size: 20px;
        margin-bottom: 20px;
    }

    .footer {
        width: 219%;
        background: #d1e7ff;
        color: black;
        display: flex;
    }
    
    .footer div {
        text-align: center;
    }
    
    .col-2 {
        margin-top: 10px;
        background: #d1e7ff;
        margin-left: 140px;
    }
    
    .col-1 img {
        width: 350px;
        align-items: center;
        margin-left: 70px;
        margin-top: 70px;
    }
    
    .col-1 {
        align-items: center;
        margin-top: 10px;
        background: #d1e7ff;
    }
    
    .footer div h3 {
        font-weight: bold;
        margin-bottom: 30px;
        letter-spacing: 1px;
        margin-top: 10px;
    }
    
    .col-2 a {
        display: block;
        text-decoration: none;
        color: black;
        margin-bottom: 10px;
    }
    
    .col-2 ul {
        list-style-type: none;
        font-weight: 100;
    }
    
    .col-3 p {
        font-weight: 100;
    }
    
    .col-3 {
        margin-left: 170px;
        background: #d1e7ff;
        width: 100%;
    }
    
    .footerbottom {
        text-align: center;
        font-weight: 300;
        padding: 30px;
        background-color: #d1e7ff;
        font-weight: bold;
        font-size: 13px;
        width: 205%;
    } 






}
