*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0;
}

.dropdownmenu {
    margin-left: 10px;
}

.dropdownmenu ul, .dropdownmenu li{
    margin: 0;
    padding: 0;
}

.dropdownmenu ul {
    list-style: none;
    padding: 12px;
}

.dropdownmenu li {
    float: none;
    position: relative;
    width: auto;
    display: inline-block;
}

.dropdownmenu a {
    background-color: rgb(106, 151, 255);
    color: white;
    display: block;
    font-weight: 500;
    font-size: 16px;
    padding: 15px 48px;
    text-align: center;
    text-decoration: none;
}

.dropdownmenu li:hover a {
    background-color: rgb(61, 93, 255);
}

#submenu {
    right: 1px;
    position: absolute;
    top: 60px;
    visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu {
    opacity: 1;
    top: 40px;
    visibility: visible;
}

#submenu li { 
    float: left;
    width: 100%;
    left: 50px;
}

#submenu a:hover {
    background: rgb(81, 90, 255);
}

#submenu a {
    background-color:rgb(127, 167, 255);
}

.background {
    margin-left: 50px;
    margin-right: auto;
    display: block;
}

.offer {
    text-align: center;
    color: rgb(85, 85, 85);
    font-size: 30px;
    margin: 40px;
}

.english {
    margin-top: 20px;
    float: left;
    margin-left: 130px;
}

.english img {
    width: 600px;
    margin-left: 5px;
    margin-top: 10px;
}

.english h1 {
    align-items: center;
}

.weekend::after {
    content: "";
    clear: both;
    display: table;
}

.weekend {
    float: right;
    display: flex;
}

.weekend img {
    width: 370px;
    margin-left: 10px;
    margin-top: 10px;
}

.maths {
    margin-top: 20px;
    float: left;
    margin-left: 130px;
}

.maths img {
    width: 600px;
    margin-left: 5px;
    margin-top: 10px;
}

.maths h1 {
    align-items: center;
}

.endweek::after {
    content: "";
    clear: both;
    display: table;
}

.endweek {
    float: right;
    display: flex;
}

.endweek img {
    width: 370px;
    margin-left: 10px;
    margin-top: 10px;
}


.footer {
    width: 100%;
    background: #d1e7ff;
    color: black;
    display: flex;
}

.footer div {
    text-align: center;
}

.col-2 {
    margin-top: 10px;
    flex-grow: 1;
}

.col-1 img {
    width: 350px;
    align-items: center;
    margin-left: 70px;
    margin-top: 70px;
}

.col-1 {
    align-items: center;
    margin-top: 10px;
}

.footer div h3 {
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 1px;
    margin-top: 10px;
}

.col-2 a {
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

.col-2 ul {
    list-style-type: none;
    font-weight: 100;
}

.col-3 p {
    font-weight: 100;
}

.col-3 {
    margin-right: 50px;
    margin-top: 10px;
}

.footerbottom {
    text-align: center;
    font-weight: 300;
    padding: 30px;
    background-color: #d1e7ff;
    font-weight: bold;
    font-size: 13px;
}
