*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0;
}

.dropdownmenu {
    margin-left: 10px;
}

.dropdownmenu ul, .dropdownmenu li{
    margin: 0;
    padding: 0;
}

.dropdownmenu ul {
    list-style: none;
    padding: 12px;
}

.dropdownmenu li {
    float: none;
    position: relative;
    width: auto;
    display: inline-block;
}

.dropdownmenu a {
    background-color: rgb(106, 151, 255);
    color: white;
    display: block;
    font-weight: 500;
    font-size: 16px;
    padding: 15px 48px;
    text-align: center;
    text-decoration: none;
}

.dropdownmenu li:hover a {
    background-color: rgb(61, 93, 255);
}

#submenu {
    right: 1px;
    position: absolute;
    top: 60px;
    visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu {
    opacity: 1;
    top: 40px;
    visibility: visible;
}

#submenu li {
    float: left;
    width: 100%;
    left: 50px;
}

#submenu a:hover {
    background: rgb(81, 90, 255);
}

#submenu a {
    background-color:rgb(127, 167, 255);
}

.background {
    margin-left: 50px;
    margin-right: auto;
    display: block;
}

.contact h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact form {
    margin: auto;
    text-decoration: none;
    display: block;
}

.contact input {
    width: 500px;
    height: 40px;
    margin-left: 385px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.contact select {
    width: 500px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 385px;
}

.content option {
    font-size: 30px;
}

.contact label {
    margin-left: 385px;
    font-size: 20px;
    margin-top: 40px;
}

.contact2 h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    margin: auto;
    text-decoration: none;
}

.contact2 input {
    width: 500px;
    height: 40px;
    margin-left: 385px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.contact2 label {
    margin-left: 385px;
    font-size: 20px;
    margin-top: 40px;
}

.submit input {
    width: 90px;
    height: 30px;
    margin-left: 600px;
    font-size: 20px;
    margin-bottom: 20px;
}


.footer {
    width: 100%;
    background: #d1e7ff;
    color: black;
    display: flex;
}

.footer div {
    text-align: center;
}

.col-2 {
    margin-top: 10px;
    flex-grow: 1;
}

.col-1 img {
    width: 350px;
    align-items: center;
    margin-left: 70px;
    margin-top: 70px;
}

.col-1 {
    align-items: center;
    margin-top: 10px;
}

.footer div h3 {
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 1px;
    margin-top: 10px;
}

.col-2 a {
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

.col-2 ul {
    list-style-type: none;
    font-weight: 100;
}

.col-3 p {
    font-weight: 100;
}

.col-3 {
    margin-right: 50px;
    margin-top: 10px;
}

.footerbottom {
    text-align: center;
    font-weight: 300;
    padding: 30px;
    background-color: #d1e7ff;
    font-weight: bold;
    font-size: 13px;
}

@media (max-width: 430px) {
    .logo img {
        width: 930px;
    }

    .dropdownmenu a {
        background-color: rgb(106, 151, 255);
        color: white;
        display: block;
        font-weight: 500;
        font-size: 20px;
        padding: 15px 48px;
        text-align: center;
        text-decoration: none;
    }

    li:hover ul#submenu {
        margin-right: -116px;
        margin-top: -53px;
    }

    #submenu {
        width: 100%;
    }

    .dropdownmenu ul {
        width: 50px;
        text-align: center;
    }

    .contact h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: -480px;
    }
    
    .contact form {
        margin: auto;
        text-decoration: none;
        display: block;
    }
    
    .contact input {
        width: 600px;
        height: 60px;
        margin-left: 180px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    
    .contact select {
        width: 600px;
        height: 60px;
        margin-top: 5px;
        margin-bottom: 20px;
        margin-left: 180px;
    }
    
    .contact label {
        margin-left: 180px;
        font-size: 20px;
        margin-top: 40px;
    }

    .contact2 h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: -480px;
    }
    
    .contact2 form {
        margin: auto;
        text-decoration: none;
        display: block;
    }
    
    .contact2 input {
        width: 600px;
        height: 60px;
        margin-left: 180px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    
    .contact2 select {
        width: 600px;
        height: 60px;
        margin-top: 5px;
        margin-bottom: 20px;
        margin-left: 180px;
    }
    
    .contact2 label {
        margin-left: 180px;
        font-size: 20px;
        margin-top: 40px;
    }

    .submit input {
        width: 120px;
        height: 40px;
        margin-left: 430px;
        font-size: 20px;
        margin-bottom: 20px;
    }

.footer {
        width: 219%;
        background: #d1e7ff;
        color: black;
        display: flex;
    }
   
    .footer div {
        text-align: center;
    }
   
    .col-2 {
        margin-top: 10px;
        background: #d1e7ff;
        margin-left: 140px;
    }
   
    .col-1 img {
        width: 350px;
        align-items: center;
        margin-left: 70px;
        margin-top: 70px;
    }
   
    .col-1 {
        align-items: center;
        margin-top: 10px;
        background: #d1e7ff;
    }
   
    .footer div h3 {
        font-weight: bold;
        margin-bottom: 30px;
        letter-spacing: 1px;
        margin-top: 10px;
    }
   
    .col-2 a {
        display: block;
        text-decoration: none;
        color: black;
        margin-bottom: 10px;
    }
   
    .col-2 ul {
        list-style-type: none;
        font-weight: 100;
    }
   
    .col-3 p {
        font-weight: 100;
    }
   
    .col-3 {
        margin-left: 170px;
        background: #d1e7ff;
        width: 100%;
    }
   
    .footerbottom {
        text-align: center;
        font-weight: 300;
        padding: 30px;
        background-color: #d1e7ff;
        font-weight: bold;
        font-size: 13px;
        width: 205%;
    }
}
